<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="chat test">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item">
        <div style="float: left;padding-right: 5px;">
          <img style="width: 24px;height: 24px;float: left;" src="img/rpm24.png">
          <div style="float: left;padding-left: 5px;">5000 rpm</div>
        </div>
        <div>
          <img src="img/speed24.png" style="width: 24px;height: 24px;float: left;">
          <div style="padding-left: 5px;float: left;">100 mph</div>
          <div style="font-size: 80%;font-style: italic;text-align: right;">asdfss</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
